#menu {
    display: flex;
    width: 65%;

} 
#button {
    display: flex;
}

#logo{ 
    align-items: center;
    flex-wrap: nowrap; 
    display: flex;
    width: 24px;
}

#button-1{ 
    padding-block: 2px;
    color: white;
    background-color: #535c47;
    font-size: 16px;
    padding-inline: 16px;
    border-radius: 90px;
    border: rgba(0, 0, 0, 0) solid 1px;
    flex-wrap: nowrap;
    display: flex;
    margin-inline: 2px;
} 



#button-2{  
    padding-block: 2px;
    font-size: 16px;
    padding-inline: 16px;
    border-radius: 90px;
    border: black solid 1px;
    flex-wrap: nowrap;
    display: flex;
    margin-inline: 4px;
} 

#button-3{ 
    color: white;
    background-color: #535c47;
    margin-block: 30px;
    padding-block: 8px;
    font-size: 16px;
    padding-inline: 22px;
    border-radius: 90px;
    border: rgba(255, 255, 255, 0) solid 1px;
    flex-wrap: nowrap;
    display: flex;
 
}

#container-2  { 
    margin-block: 30px;
    margin-inline: 90px;
    height: 505px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 285px 285px 0px; 
    column-gap: 20px 2px; 
    background-color: rgba(0, 0, 255, 0) ; 
} 
#container-2 > div{
    margin: 0px;
} 



#item-1{ 
    padding-inline: 0px;
    padding-block: 60px; 
    grid-column: 1/3 ; 
    grid-row: 1/3;  
    border-radius: 12px; 
} 

#item-2{  
    width: 700px;
    background-image: url(https://cdn.dribbble.com/users/6441473/screenshots/14811036/media/a2f1ca0a075b669a90633e42101b01d5.png?resize=650x360&vertical=center);
    grid-column: span 2; 
    grid-row: 1/1; 
    border-radius: 1200px; 
} 
#item-3{  
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-block: 32px;
    grid-column: span 2; 
    grid-row: 2/2; 
    background-color: #535c47;
    border-radius: 1200px;

}

#list-1{ 
    color: #535c47;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
#list-2{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-block: 12px;
 font-size: 56px;
}



#list-3{ 
    font-weight: 300;
    margin-block: 18px;
} 

#list-4{ 
    color: rgba(255, 255, 255, 0.803);
    letter-spacing: 2px;
    margin-bottom: 14px; 
    font-size: 26px; 
    margin-inline: 60px;
}

#img{ 
    margin-right: 12px;
  border-radius: 90px;
}

#img-0{ 
    color: rgba(255, 255, 255, 0.807);
    margin-inline: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
} 


#list-5{
    font-size: 18px;
} 
 
#list-6{
    font-size: 14px;
} 

#patrner {    
    height: 340px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: 40px 0px 0px; 
    column-gap: 20px 2px; 
    background-color: rgba(0, 0, 255, 0) ; 
}
#partner-1 , #partner-2 , #partner-3 , #partner-4 , #partner-5 { 
    font-weight: 700; 
    color: rgba(0, 0, 0, 0.722);
    margin-block: 100px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: flex; 
} 
#partner-1{ 
    border-color: black;
    border-top-width: 1px; 
    border-left-width: 0px; 
    border-bottom-width: 1px; 
    border-right-width: 1px; 
    padding-block: 40px;
    grid-column: 1/1; 
    grid-row: 1/2;    
}  
#partner-2{ 
          border-color: black;
            border-top-width: 1px; 
            border-left-width: 0px; 
            border-bottom-width: 1px; 
            border-right-width: 1px;    
    padding-block: 40px;
    grid-column: 2/2; 
    grid-row: 1/2; 
}  
#partner-3{ 
          border-color: black;
            border-top-width: 1px; 
            border-left-width: 0px; 
            border-bottom-width: 1px; 
            border-right-width: 0px;    
    padding-block: 40px;
    grid-column: 3/3; 
    grid-row: 1/2; 
} 




#partner-4{ 
          border-color: black;
            border-top-width: 1px; 
            border-left-width: 1px; 
            border-bottom-width: 1px; 
            border-right-width: 0px;    
    padding-block: 40px;
    grid-column: 4/4; 
    grid-row: 1/2; 
} 

#partner-5{ 
          border-color: black;
            border-top-width: 1px; 
            border-left-width: 1px; 
            border-bottom-width: 1px; 
            border-right-width: 0px;    
    padding-block: 40px;
    grid-column: 5/5; 
    grid-row: 1/2; 
} 
#pro { 
    margin-bottom: 60px;
    margin-block: 100px;
    margin-inline: 120px; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 640px 0px 0px; 
    column-gap: 20px 2px; 
    background-color: rgba(0, 0, 255, 0) ; 
}
#pro-1{ 
    margin-inline: 26px;
    background-image: url(https://th.bing.com/th/id/R.c4580930a1b10329e559757c9d7c4b5d?rik=DwAvzSSeJa3zLw&riu=http%3a%2f%2fwww.kranse.com%2fcdn%2fshop%2farticles%2ftips_for_test_anxiety_and_sat_1024x1024.jpg%3fv%3d1509392551&ehk=%2f5GsVQ4%2fn51EVdTTANIhFNEby5hgMWkitSe8QbwO2js%3d&risl=&pid=ImgRaw&r=0);
    border-radius: 28px;
    padding-block: 32px;
    grid-column: 1/1; 
    grid-row: 1/2; 
}  

#pro-1-0{ 
    border: rgba(255, 255, 255, 0.303) solid 1px; 
    backdrop-filter: blur(2px);
    color: white;
    align-content: center;
    height: 98px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 12px;
    top: -5px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.448);
    position: relative; 
    right: -25px;
} 

#pro-1-2{ 
    justify-content: center;
    display: flex;
}
#pro-2{ 
    align-content: center;
    flex-wrap: wrap;
    justify-content: baseline;
    display: flex;
    margin-inline: 20px;
    padding-block: 32px;
    grid-column: 2/2; 
    grid-row: 1/2; 
}

#pro-2-0{ 
    margin-right: 100px;
    flex-wrap: wrap;
    justify-content: baseline;
    display: flex;
}
#program-3{ 
    text-transform: uppercase;
    font-size: 14px;
}

#program-4{ 
    font-size: 52px;
    margin-block: 10px; 
}

#program-5{ 
    margin-block: 18px;

}
#button-0{ 
    color: white;
    background-color: #535c47;
    border-radius: 90px; 
    padding-block: 8px;
    padding-inline: 16px;
} 

#page-3 {
        flex-direction: column;
    flex-wrap: wrap; 
    background-image: url(https://www.hotelmanagement-network.com/wp-content/uploads/sites/25/2023/08/Moxy-Sydney-Airport_23.08.23.jpg);
    display: flex;
    width: 100%;
   height: 700px;
}  

#page-3-0{
    padding-block: 60px;
    align-items: center;
    backdrop-filter: brightness(0.8);
    flex-direction: column;
    flex-wrap: wrap; 
    height: 700px;
    flex-wrap: wrap; 
    display: flex;

} 

#page-3-2{ 
    flex-wrap: nowrap;
    display: flex;
}
#list-7 , #list-8{ 
    border: rgba(255, 255, 255, 0.405) solid 1px;
    backdrop-filter: blur(2px);
    border-radius: 6px;
    padding-inline: 20px;
    padding-block: 2px;
    color: rgba(255, 255, 255, 0.749);
    margin-inline: 12px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.303);
   font-size: 18px; 
} 

#list-9 ,#list-10 { 

    text-align: center; 
    justify-content: center; 
    display: flex;
}
 #list-9{ 
    padding-block: 18px;
    color: white;
    font-size: 48px;
 } 
 #list-10 { 
    color: white;
    font-size: 18px;
 }


#page-5{ 
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center; 
    justify-content: center;
    display: flex;
    width: 100%;
   height: 700px; 
}  

 #button-5{ 
    color: white;
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 90px;
    background-color: #535c47;
    margin-inline: 450px;
    top: 275px;
    position: relative;
 } 

 #list-11{ 
     padding-block: 16px;
    text-align: center;
   font-size: 48px;
 } 

 #list-12{ 
    padding-bottom: 22px;
 } 

 #list-13{

 } 

 #list-14{ 
    color: rgba(0, 0, 0, 0.74);
    text-shadow: 10px 14px 10px black;
    font-size: 220px;

 } 

 #button-13{ 
    color: white;
    background-color: #535c47;
    border-radius: 90px;
    padding-block: 8px;
    padding-inline: 16px; 
 } 


#page-4{ 
    border-bottom: black solid 1px;
    background-color: #535c47;
    height: 700px;
}

#page-4-0{ 
    padding-block: 54px;
    align-items: center;
    flex-direction: column;
    display: flex; 
    text-align: center; 
}

#list-15{ 
    color: white;
    padding-block: 16px;
    font-size: 48px;
} 

#list-16{
    color: white;
}

#page-4-2{ 
    margin-block: 0px;
    margin-inline: 210px; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 270px 0px 0px; 
    column-gap: 20px 2px; 
    background-color: rgba(0, 0, 255, 0) ; 
}

#room-0{ 
    margin-inline: 20px;
    margin-top: 82px;
    border-top: black solid 1px;

}

#img-1{ 
    margin-left: 177px;
    display: flex;
}

#img-2{ 
    margin-block: 10px;
    margin-inline: 0px;
    font-size: 20px;
}

#img-3{ 
    margin-block: 14px;
    margin-inline: 0px; 
    font-size: 12px;
}

#list-17{ 
    background-color: rgb(255, 255, 255);
    margin-inline: 20px; 
        border-radius: 28px;
    padding-block: 18px;
    grid-column: 1/1; 
    grid-row: 1/2; 
}  

#img-0{

}

#list-18{    
    background-color: black;
    margin-inline: 20px; 
        border-radius: 28px;
    padding-block: 18px;
    grid-column: 2/2; 
    grid-row: 1/2; 
} 

#list-19{ 
    background-color: black;
    margin-inline: 20px; 
    border-radius: 28px;
    padding-block: 18px;
    grid-column: 3/3; 
    grid-row: 1/2; 
}

#list-20{ 
    background-color: black;
    margin-inline: 20px; 
    border-radius: 28px;
    padding-block: 18px;
    grid-column: 4/4; 
    grid-row: 1/2; 
}

#list-17 , #list-18 , #list-19 , #list-20 { 
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
}


#page-6{ 
    padding-inline: 86px;
    padding-block: 60px;
    flex-wrap: nowrap;
    display: flex;
    border-top: rgba(0, 0, 0, 0.386) solid 1px;
}

#page-6-0{
  width: 200%;
} 



#page-6-2{ 
    border-left: black solid 1px;
    padding-inline: 20px;
   width: 60%;
} 



#page-6-3{ 
    padding-inline: 20px;
    border-left: black solid 1px;
  width: 50%;
} 


#page-6-4{ 

    border-top: rgba(0, 0, 0, 0.386) solid 1px ;
    padding-inline: 86px;
    padding-block: 14px;
    justify-content: space-between;
    display: flex;
    width: 100%;
} 


#list-34 { 
    text-decoration: underline;
    display: flex;
}
#list-34 >li{ 
    text-decoration: underline;
    margin-inline: 20px; 
} 



#list-21{ 
    margin-bottom: 8px;
    margin-top: -8px;
    font-size: 30px;
}


#list-22{ 
    font-weight: 600;
    margin-bottom: 8px;
} 

