@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-marquee {
    display: inline-block;
    animation: marquee-right 10s linear infinite;
  }
  body{
    background-color: #1d232a;
  }